## Introduction
<p>Everyone loves Lego (unless you ever stepped on one). Did you know by the way that "Lego" was derived from the Danish phrase leg godt, which means "play well"? Unless you speak Danish, probably not. </p>
<p>In this project, we will analyze a fascinating dataset on every single lego block that has ever been built!</p>
<p><img src="https://s3.amazonaws.com/assets.datacamp.com/projects/lego/lego-bricks.jpeg" alt="lego"></p>

In [63]:
# Nothing to do here

## Reading Data
<p>This comprehensive database of lego blocks is provided by <a href="https://rebrickable.com/downloads/">Rebrickable</a>. The data is available as csv files and the schema is shown below.</p>
<p><img src="https://s3.amazonaws.com/assets.datacamp.com/projects/lego/downloads_schema.png" alt="schema"></p>
<p>Let us start by reading in the colors data to get a sense of the diversity of lego sets!</p>

In [65]:
# Import modules
import pandas as pd

# Read colors data
colors = pd.read_csv('datasets/colors.csv')

# Print the first few rows
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

## Exploring Colors
<p>Now that we have read the <code>colors</code> data, we can start exploring it! Let us start by understanding the number of colors available.</p>

In [67]:
# How many distinct colors are available?

num_colors = 0 

for d in colors["name"]:
        num_colors = num_colors+1      
num_colors

135

## Transparent Colors in Lego Sets
<p>The <code>colors</code> data has a column named <code>is_trans</code> that indicates whether a color is transparent or not. It would be interesting to explore the distribution of transparent vs. non-transparent colors.</p>

In [69]:
# colors_summary: Distribution of colors based on transparency
colors_summary = colors.groupby("is_trans").count()
colors_summary

           id  name  rgb
is_trans
f         107   107  107
t          28    28   28

Hi from NY

## Explore Lego Sets
<p>Another interesting dataset available in this database is the <code>sets</code> data. It contains a comprehensive list of sets over the years and the number of parts that each of these sets contained. </p>
<p><img src="https://imgur.com/1k4PoXs.png" alt="sets_data"></p>
<p>Let us use this data to explore how the average number of parts in lego sets has varied over the years.</p>

In [71]:
%matplotlib inline
# Read sets data as `sets`
sets = pd.read_csv("datasets/sets.csv")

# Create a summary of average number of parts by year: `parts_by_year`
parts_by_year = sets[['year','num_parts']].groupby('year', as_index = False).mean()
parts_by_year
# Plot trends in average number of parts by year

    year   num_parts
0   1950   10.142857
1   1953   16.500000
2   1954   12.357143
3   1955   36.857143
4   1956   18.500000
5   1957   42.619048
6   1958   44.452381
7   1959   16.250000
8   1960  175.333333
9   1961   70.588235
10  1962   81.750000
11  1963   33.333333
12  1964   82.636364
13  1965  107.100000
14  1966   40.651685
15  1967   98.666667
16  1968  127.200000
17  1969   64.594203
18  1970   84.793103
19  1971   67.022222
20  1972  102.842105
21  1973  103.367647
22  1974  116.769231
23  1975  155.225806
24  1976  153.029412
25  1977   91.500000
26  1978  146.616438
27  1979  105.414634
28  1980  126.636364
29  1981   97.835443
..   ...         ...
36  1988  144.250000
37  1989  102.061404
38  1990  202.035294
39  1991  166.424528
40  1992  119.617391
41  1993  148.432432
42  1994  127.640625
43  1995  179.039062
44  1996  201.770833
45  1997  129.221649
46  1998  141.126154
47  1999  105.543333
48  2000  104.376147
49  2001  104.365782
50  2002  115.700224
51  2003  159.681928
52  2004  138.862534
53  2005  198.745455
54  2006  246.904594
55  2007  229.025078
56  2008  231.644699
57  2009  196.898263
58  2010  210.646396
59  2011  160.452191
60  2012  149.808130
61  2013  181.359191
62  2014  169.320280
63  2015  200.223881
64  2016  248.945813
65  2017  300.121277

[66 rows x 2 columns]

## Lego Themes Over Years
<p>Lego blocks ship under multiple <a href="https://shop.lego.com/en-US/Themes">themes</a>. Let us try to get a sense of how the number of themes shipped has varied over the years.</p>

In [73]:
# themes_by_year: Number of themes shipped by year
themes_by_year = sets[['year','theme_id']].groupby('year', as_index = False).count()
themes_by_year

    year  theme_id
0   1950         7
1   1953         4
2   1954        14
3   1955        28
4   1956        12
5   1957        21
6   1958        42
7   1959         4
8   1960         3
9   1961        17
10  1962        40
11  1963        18
12  1964        11
13  1965        10
14  1966        89
15  1967        21
16  1968        25
17  1969        69
18  1970        29
19  1971        45
20  1972        38
21  1973        68
22  1974        39
23  1975        31
24  1976        68
25  1977        92
26  1978        73
27  1979        82
28  1980        88
29  1981        79
..   ...       ...
36  1988        68
37  1989       114
38  1990        85
39  1991       106
40  1992       115
41  1993       111
42  1994       128
43  1995       128
44  1996       144
45  1997       194
46  1998       325
47  1999       300
48  2000       327
49  2001       339
50  2002       447
51  2003       415
52  2004       371
53  2005       330
54  2006       283
55  2007       319
56  2008       349
57  2009       403
58  2010       444
59  2011       502
60  2012       615
61  2013       593
62  2014       715
63  2015       670
64  2016       609
65  2017       470

[66 rows x 2 columns]

## Wrapping It All Up!
<p>Lego blocks offer an unlimited amoung of fun across ages. We explored some interesting trends around colors, parts and themes. </p>

In [75]:
# Nothing to do here